async-timeout==4.0.2
auth==0.5.3
bcrypt==3.2.2
beautifulsoup4==4.11.1
blinker==1.4
blis==0.7.8
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
catalogue==2.0.7
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorthief==0.2.1
cymem==2.0.6
Deprecated==1.2.13
dnspython==2.2.1
dominate==2.6.0
email-validator==1.2.1
en-core-web-sm==2.1.0
et-xmlfile==1.1.0
eventlet==0.33.1
falcon==3.1.0
filelock==3.7.1
firebase==3.0.1
firebase-admin==5.2.0
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
gcloud==0.17.0
google-api-core==2.8.1
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-firestore==2.5.2
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
greenlet==1.1.2
grpcio==1.46.3
grpcio-status==1.46.3
gTTS==2.2.4
gunicorn==20.1.0
httplib2==0.20.4
huggingface-hub==0.8.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
jws==0.1.3
langcodes==3.3.0
MarkupSafe==2.1.1
mongoengine==0.24.1
msgpack==1.0.4
murmurhash==1.0.7
nlpcloud==1.0.27
numpy==1.23.0
oauth2client==3.0.0
openai==0.20.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandas-stubs==1.4.3.220704
pathy==0.6.2
Pillow==9.2.0
preshed==3.0.6
proto-plus==1.20.5
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.4.3
pydantic==1.8.2
pydub==0.25.1
pymongo==4.1.1
pyparsing==3.0.9
pytesseract==0.3.9
python-dateutil==2.8.2
python-jwt==2.0.1
pytz==2022.1
PyYAML==6.0
redis==4.3.4
regex==2022.6.2
requests==2.27.1
requests-toolbelt==0.7.0
rsa==4.8
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spotipy==2.20.0
SQLAlchemy==1.4.36
srsly==2.4.3
sseclient-py==1.7.2
stripe==3.5.0
thinc==8.0.17
tokenizers==0.12.1
tqdm==4.64.0
transformers==4.20.1
typer==0.4.2
typing_extensions==4.3.0
uritemplate==4.1.1
urllib3==1.26.9
visitor==0.1.3
wasabi==0.9.1
Werkzeug==2.1.2
wrapt==1.14.1
WTForms==3.0.1
